* { box-sizing:border-box; }

body {
	font-family: 'Open Sans', sans-serif;
	background: url('/img/bg-proitec-09.png');
  -webkit-font-smoothing: antialiased;
}

#main {
	width: 720px;
	margin: 4em auto;
}

#mainPresencial {
	width: 720px;
	margin: 4em auto;
}

#mainProitec {
	width: 720px;
	margin: 4em auto;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #3eb24f; }

#mainPresencial h3 { color: #23374f; }

form {
	width: 320px;
	float: left;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	border-top: 4px solid #3eb24f;
}

#mainPresencial form {
	border-top: 4px solid #5d81c1;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.group h2 {
  text-align: center; 
  color: #113515;
}

#mainPresencial .group h2 {
  color: #23374f;
}

.group a {
  color: #3eb24f;
  font-weight: bold;
  text-decoration: none;
}

#mainPresencial .group a {
  color: #5d81c1;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #86919a;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #3eb24f;
}

#mainPresencial input:focus ~ label, input.used ~ label {
  color: #5d81c1;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #3eb24f; 
	transition: all 0.2s ease;
}

.barPresencial:before, .barPresencial:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #5d81c1;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

#mainPresencial input:focus ~ .highlight {
	animation: inputHighlighterPresencial 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #3eb24f; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighterPresencial {
	from { background: #5d81c1; }
	to 	{ width: 0; background: transparent; }
}

/* Button */

.button {
	position: relative;
	display: inline-block;
	padding: 5px;
	margin: 0 19px;
	width: 85%;
	vertical-align: middle;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	background: transparent;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonGreen {
  background: #3eb24f;
  text-shadow: 1px 1px 0 rgba(13, 100, 27, 0.5);
}

.buttonGreen:hover { background: #3eb24f; }

.buttonBlue {
  background: #5d81c1;
  text-shadow: 1px 1px 0 rgba(13, 22, 100, 0.5);
}

.buttonBlue:hover { background: #5d81c1; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

#instanciaMoodle {
	margin-top: 50px;
	background: #445646;
	width: 400px;
	height: 350px;
	float: right;
}

#mainPresencial #instanciaMoodle {
	background: #23374f;
}

#mainProitec #instanciaMoodle {
	background: #214325;
}

#instanciaMoodle p {
  text-align:center;
}

#logo {
  width: 50%;
  margin: 25% 0;
}

#mainProitec #logo {
	width: 20%;
}

#instanciaMoodle ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 20px 80px;
}

#instanciaMoodle li {
	color: #3eb24f; 
	font-weight: bold;
}

#mainPresencial #instanciaMoodle li {
	color: #6e9bdb;
}

#instanciaMoodle a {
	text-decoration: none;
	color: #3eb24f;
}

#mainPresencial #instanciaMoodle a {
	color: #6e9bdb;
}

#instanciaMoodle a:hover {
	color: #fafafa;
}

#instanciaMoodleResponsive {
	display: none;
}

/* 
===============================================
=============== Responsividade ================
===============================================
*/

@media (max-width: 734px){
	#instanciaMoodle {
		display: none;
	}

	form {
		float: none;
		margin: 0 auto;
	}

	#main, #mainPresencial, #mainProitec {
		width: 100%;
		margin: 2em auto;
	}

	#instanciaMoodleResponsive {
		display: block;
	}

	#instanciaMoodleResponsive ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
		padding: 0;
	}
	
	#instanciaMoodleResponsive li {
		color: #3eb24f; 
		font-weight: bold;
	}
	
	#mainPresencial #instanciaMoodleResponsive li {
		color: #6e9bdb;
	}
	
	#instanciaMoodleResponsive a {
		text-decoration: none;
		color: #3eb24f;
	}
	
	#mainPresencial #instanciaMoodleResponsive a {
		color: #6e9bdb;
	}
}